#pojemnik
{
	width:1000px;
	height:500px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}

body
{
	background-color:grey;
}

#naglowek
{
	width:960px;
	text-align:center;
	background-color:#003049;
	padding:20px;
	font-family: 'Kalam', cursive;
	height:150px;
	color:#b9c9bb;
}

#logo
{
	height:150px;
	width:300px;
	float:left;
}

#tytul
{
	height:150px;
	width:510px;
	float:left;
}

#aplikacje
{
	height:150px;
	width:150px;
	float:left;
	font-family:'Rubik', sans-serif;
}

#aplikacje:hover
{
	background-color:#001b29;
}

#nawigacja
{
	width:300px;
	height:450px;
	background-color:white;
	float:left;
}

#omnie
{
	width:300px;
	height:130px;
	text-align:center;
	font-family: 'Rubik', sans-serif;
	padding-top:20px;
	background-color:#d62828;
}

#zainteresowania
{
	width:300px;
	height:130px;
	text-align:center;
	font-family: 'Rubik', sans-serif;
	padding-top:20px;
	background-color:#f77f00;
}

#kontakt
{
	width:300px;
	height:130px;
	text-align:center;
	font-family: 'Rubik', sans-serif;
	padding-top:20px;
	background-color:#fcbf49;
}

#zawartosc
{
	height:390px;
	width:940px;
	background-color:#eae2b7;
	font-family: 'Bree Serif', serif;
	text-align:center;
	padding-top:30px;
	padding-bottom:30px;
	padding-right:30px;
	padding-left:30px;
}

#stopka
{
	height:35px;
	width:1000px;
	background-color:#b9c9bb;
	text-align:center;
	font-family: 'Rubik', sans-serif;
	padding-top:15px;
}

a:link
{
	text-decoration:none;
	color:black;
}

a:visited
{
	text-decoration:none;
	color:black;
}

a:hover
{
	text-decoration:none;
	color:black;
}

#omnie:hover
{
	background-color:#ac2020;
}

#zainteresowania:hover
{
	background-color:#cc6900;
}

#kontakt:hover
{
	background-color:#fcb322;
}

#naglowek a:link
{
	color:#b9c9bb;
}

#naglowek a:hover
{
	color:#b9c9bb;
}

#naglowek a:visited
{
	color:#b9c9bb;
}

.link_naglowka:link
{
	color:#b9c9bb;
}

.link_naglowka:hover
{
	color:#b9c9bb;
}

.link_naglowka:visited
{
	color:#b9c9bb;
}